pirsitepredict/src/main/java/org/proteininformationresource/pirsitepredict/prediction/xml/PIRSitePredict_1.0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://research.bioinformatics.udel.edu/schemas/PIRSRPredict" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pirsr-predictions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pirsr">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="protein">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="sequence">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="md5"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="nucleotide-sequence">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="id"/>
                            <xs:attribute type="xs:string" name="md5"/>
                            <xs:attribute type="xs:short" name="length"/>
                            <xs:attribute type="xs:short" name="orf-start"/>
                            <xs:attribute type="xs:short" name="orf-end"/>
                            <xs:attribute type="xs:string" name="orf-strand"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="predictions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="keyword" maxOccurs="unbounded" minOccurs="0"/>
                          <xs:element name="comment" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="description"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="type" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="feature" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="location">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="begin">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:short" name="position" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="end">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:short" name="position" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="type" use="optional"/>
                              <xs:attribute type="xs:string" name="description" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="id"/>
                  <xs:attribute type="xs:short" name="length"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id"/>
            <xs:attribute type="xs:string" name="trigger"/>
            <xs:attribute type="xs:string" name="template"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
